<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Beams</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-4.0.0/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only"></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/site/all">
                  <span data-feather="map-pin"></span>
                  Sites
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/beam">
                  <span data-feather="target"></span>
                  Beams
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/partner">
                  <span data-feather="users"></span>
                  Partners
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/service">
                  <span data-feather="package"></span>
                  Services
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/modem">
                  <span data-feather="hard-drive"></span>
                  Modem Type
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/status">
                  <span data-feather="power"></span>
                  Status
                </a>
              </li>                             
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>                                          
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Partner Information</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar">Test</span>
                This week
              </button>
            </div>
          </div>

            <div class="row">
              <div class="col">
                <div class="card text-white bg-primary mb-3">
                  <div class="card-body">
                    <h3 class="card-title">{{partnerInformation.partner}}</h3>
                    <h5 class="card-text">Project ID : </h5>
                    {{#each projectInformation}}
                    <h6>
                        {{project_id}}
                    </h6>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
            
            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addProjectModal">Add Project</button>
           <!-- Modal -->
          <div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="addProjectModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addProjectModal">Project ID</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                  <div class="modal-body">
                    <form action="/partner/{{partnerInformation.partner_id}}/add_project" method="post">
                     <div class="form-group">
                        <input type="text" class="form-control" id="projectId" placeholder="Project ID" name="projectId">
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       <button type="submit" class="btn btn-primary">Save changes</button>
                     </div>
                    </form>
                 </div>
               </div>
             </div>
           </div>

            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#editModal">Edit</button>
           <!-- Modal -->
          <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editModal">Edit Partner Information</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                  <div class="modal-body">
                    <form action="/partner/edit/{{partnerInformation.partner_id}}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="partnerName" placeholder="Partner" name="partnerName" value="{{partnerInformation.partner}}">
                    </div>
                    {{#each projectInformation}}
                    <div class="form-group">
                        <input type="text" class="form-control" id="projectId" placeholder="Project ID" name="projectId" value="{{project_id}}">
                    </div>
                    {{/each}}
                    <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                    </form>
                </div>
              </div>
             </div>
            </div>
          
          <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalDeleteDialog">delete partner</button>
            <!-- Detele Modal Dialog -->
            <div class="modal fade" id="modalDeleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="/partner/delete/{{partnerInformation.partner_id}}" type="button" class="btn btn-danger">Yes</a>
                  </div>
                </div>
              </div>
            </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="bootstrap-4.0.0/bootstrap-4.0.0/assets/js/vendor/jquery-slim.min.js"></script>')</script>
    <script src="/bootstrap-4.0.0/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <script src="/bootstrap-4.0.0/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    
  </body>
</html>
